<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- <link rel="stylesheet" href="../styles/main.css"> -->
		<title>BlogIt</title>
	</head>
	<body>
		<div class="menu">
			<a href="/">Home</a>
			<a href="/about/">About</a>
			<a href="/newIt/">Mundo actual</a>
		</div>

		<h1>Mini blog It en Astro</h1>
		<h3>La importancia de la tecnología en el mundo empresarial</h3>
		<p>
			Las empresas dependen cada vez más de la tecnología para mejorar sus
			procesos y aumentar la eficiencia. Los sistemas de gestión
			empresarial, los sistemas de planificación de recursos empresariales
			y las herramientas de colaboración en línea son solo algunos
			ejemplos de cómo la tecnología está transformando las empresas.
		</p>
		<h3>La tecnología y la educación</h3>
		<p>
			La tecnología también está cambiando la forma en que aprendemos. Las
			herramientas de educación en línea y las plataformas de aprendizaje
			en línea están haciendo que la educación sea más accesible para las
			personas de todo el mundo. Además, la tecnología está mejorando la
			capacidad de los estudiantes para colaborar y trabajar juntos.
		</p>
	</body>
</html>
