---
import "../styles/main.css";
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import "bootstrap/dist/css/bootstrap.min.css";
const pageTitle = "Lo nuevo en IT";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Navigation />

        <h1 class="mt-3 text-primary">
            El papel de la tecnología en el mundo actual
        </h1>
        <p>
            La tecnología ha transformado la forma en que vivimos y trabajamos.
            Cada vez más, las empresas dependen de la tecnología para mejorar
            sus procesos y aumentar la eficiencia. En este blog de IT,
            exploraremos el papel de la tecnología en el mundo actual y cómo
            está cambiando nuestra forma de vida.
        </p>
        <Footer />
    </body>
</html>
